@charset "utf-8";


/* div#interface {
    position: fixed;
    top: 55px;
    left:0;
    height: 100%;
} */

section#viewersite {
    display: block;
    width: 600px;
    float: left;
}

aside#lateralsite {
    display: block;
    width: 600px;
    float: right;
}