html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.fill {
    height: calc(100vh - 100px);
}

body {
    padding-top: 60px;
    /* space for the top nav bar */
    margin-right: 30px;
}

#appBuckets {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
}

#forgeViewer {
    width: 100%;
    height: 500px;
    margin: 0;
    background-color: #F0F8FF;
}

#forgeViewer1 {
    width: 100%;
    height: 500px;
    margin: 0;
    background-color: #F0F8FF;
}

td {
    color: #c8cbcf;
}


/*nestedViewer*/

#nestedViewerExtensionButton {
    background-image: url(https://img.icons8.com/color/64/000000/picture-in-picture.png);
    background-image: url(https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/png/24/object-group.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}


/*Panelinfo*/

.PanelInfoViewerExtensionIcon {
    background-image: url(https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/png/24/info-circle.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

.ManutencaoViewerExtensionIcon {
    background-image: url(https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/white/png/24/briefcase.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

#nestedViewerExtensionButton.active {
    filter: none;
}

#nestedViewerExtensionDropdown {
    background: #eee;
    color: #333;
}


/*nestedViewer*/